@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; // VAR baseFontFamily
$base-font-size:   16px; // VAR baseFontSize
$base-font-weight: 400; // VAR baseFontWeight
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5; // VAR baseLineHeight

$spacing-unit:     30px; // VAR spacingUnit

$text-color:       #111; // VAR textColor
$background-color: #fdfdfd; // VAR backgroundColor
$brand-color:      #2a7ae2; // VAR brandColor1
$brand-dark:       #1D3948; // VAR brandColor2
$brand-light:      #85EA2D; // VAR brandColor3
$code-background:  #eee; // VAR codeBackgroundColor

$grey-color:       #828282; // VAR greyColor
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1400px; // VAR maxWidth
$on-palm:          600px; // VAR phoneWidth
$on-laptop:        800px; // VAR tabletWidth



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import "base",
"layout",
"syntax-highlighting"
  ;

@import "custom";
